body{
    width: 100%;
}

.active{
    display: flex;
}
.navBar{
    display: inline-block;
    justify-content: space-between;
    padding-top: 15px;
    text-align: right;
    width: 49%;
}

.logo{
    font-size: 18px;
    font-weight: bold;
}

.logoContainer{
    display: inline-block;
    width: 50%;
    margin-left: 1%;
    padding-top: 15px;
}

#x{
    display: none;
}
.name{
    color: #00cccc;
    font-size: 24px;
}

.navBar ul li{
    display: inline-block;
}

 .links{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    margin-right: 16px;
    background-image: linear-gradient(to right, #00cccc, #00b3b3);
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#nav-icon1{  
cursor:pointer; 
}

#nav-icon1 span{
    display: none;
    margin:3px;
    height: 4px;
    width:30px;
    background: rgba(0, 0, 0, 0.781);
    border-radius: 9px;
  }

.links:hover{
    background-image: linear-gradient(to right, #ff4d6a, #ffa500);
}

.links:active{
    background-image: linear-gradient(to right, #ff0000, #cc8500);
}

@media screen and (max-width: 1060px) {
    .navBar{
        width: 70%;
    }
    .logoContainer{
        width: 29%;
    }
}

@media screen and (max-width: 846px) {
    .navBar{
        width: 65%;
    }
    .logoContainer{
        width: 34%;
    }
}


@media screen and (max-width: 820px) {
    .navBar{
        display: block;
        width: 100%;
        text-align: center;
    }

    .logoContainer{
        text-align: center;
        display: block;
        width: 100%;
        margin-right: 5%;
        margin-left: 2%;
    }
    .logo{
        display: inline-block;
        font-size: 30px;
    }

    .name{
        font-size: 32px;
    }
  }

  @media screen and (max-width: 525px) {

    .logo{
        font-size: 26px;
    }
    .name{
        font-size: 28px;
    }

    .links{
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 4px;
    }
  }

  @media screen and (max-width: 398px) {

    .logo{
        font-size: 20px;
    }
    .name{
        font-size: 22px;
    }

    div{
        width: 100%;
        display: block;
    }

    .logoContainer{
        display: inline-block;
        text-align: left;
        width: 87%;
        margin: 0px;
        margin-left: 2%;
    }

    .navBar{
        display: none;
    }

    #nav-icon1{
        display: inline-block;
        width: 10%;
        text-align: right;
        position: relative;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    #nav-icon1 span{
        display: block;
        margin-bottom: 0px;
    }

    /* #hamburger:hover + #x{
        display: flex;
    } */

    #nav-icon1:hover > span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
 
    #nav-icon1:hover > span:nth-child(2) {
        opacity: 0;
    }
 
    #nav-icon1:hover > span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

  }

  @media screen and (max-width: 350px) {
    .logo{
        font-size: 18px;
    }
    .name{
        font-size: 20px;
    }

    #nav-icon1 span{
        height: 3px;
        width: 24px;
      }
  }